<header class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="{% url 'home' %}">
                <span>
                    Fonance
                </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  ">
                    {% if 'home' in request.path %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    {% endif %}
                    {% if 'about' in request.path %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'about' %}">About <span class="sr-only">(current)</span></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}"> About</a>
                    </li>
                    {% endif %}
                    {% if 'service' in request.path %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'service' %}">Services <span
                                class="sr-only">(current)</span></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'service' %}">Services</a>
                    </li>
                    {% endif %}
                    {% if 'why_us' in request.path %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'why_us' %}">Why Us <span class="sr-only">(current)</span></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'why_us' %}">Why Us</a>
                    </li>
                    {% endif %}
                    {% if 'contact' in request.path %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'contact' %}">Contact Us <span
                                class="sr-only">(current)</span></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                    </li>
                    {% endif %}
                    <form class="form-inline">
                        <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </form>
                </ul>
            </div>
        </nav>
    </div>
</header>